# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Database logs and local temp locks
*.log
*.tmp

# Node / Web
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
